<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group12.cs442.com" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="group12.cs442.com.MainActivity"
            android:label="Cafeteria App" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="group12.cs442.com.Add"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="group12.cs442.com.Delete"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="group12.cs442.com.Update"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="group12.cs442.com.Update2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".d_MenuCartActivity"
            android:label="Order Summary" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".d_DeliveryOptionActivity"
            android:label="Delivery Options" >
        </activity>
        <activity
            android:name=".d_DeliveryLocationsActivity"
            android:label="Delivery Locations" >
        </activity>
        <activity
            android:name=".d_OrderConfirmationActivity"
            android:label="Order Confirmation" >
        </activity>
    </application>

</manifest>
